
.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
.menu-icon {
  height: 30px;
  widows: 30px;
}

.zoom:hover {
  /* transform: scale(1.05); */
}
.text-color {
  color: #7c7c7c;
  /* cursor: pointer; */
}

.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
button.mat-stroked-button {
  color: #2179c7;
}
.card-body {
  background-color: #FFFFFF;
}
