<div>
  <mat-toolbar class="toolbar-color">
    <mat-toolbar-row class="margin-nav">
      <span>
        Home
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-lg-6 col-sm-12">
        <div class="card-body border shadow rounded zoom card-pricing popular">
          <div class="clearfix">
            <div class="float-left">
              <h5 class="text-color">Manage Users</h5>
              <small class="text-muted">add edit delete user</small>
            </div>
            <div class="float-right">
              <img class="menu-icon" src="assets/icon/user.png" alt="manage user">
            </div>
          </div>
          <hr>
          <button mat-stroked-button class="btn-block" color="primary" routerLink="./users">Manage Users</button>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card-body border shadow rounded zoom">
          <div class="clearfix">
            <div class="float-left">
              <h5 class="text-color">Manage Posts</h5>
              <small class="text-muted">edit delete post</small>
            </div>
            <div class="float-right">
              <img class="menu-icon" src="assets/icon/post.png" alt="manage user">
            </div>
          </div>
          <hr>
          <button mat-stroked-button class="btn-block" color="primary" routerLink="./posts">Manage Posts</button>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card-body border shadow rounded zoom">
          <div class="clearfix">
            <div class="float-left">
              <h5 class="text-color">Manage Tutorial</h5>
              <small class="text-muted">edit delete toturial</small>
            </div>
            <div class="float-right">
              <img class="menu-icon" src="assets/icon/post.png" alt="manage user">
            </div>
          </div>
          <hr>
          <button mat-stroked-button class="btn-block" color="primary" routerLink="./tutorial">Manage Tutorial</button>
        </div>
      </div>
    </div>

  </div>
</div>