<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span style="cursor: pointer" routerLink="../../users">
      Manage Users
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>
      Create New User
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="card-body rounded shadow">
      <div class="clearfix">
        <div class="float-left">
          <h5 class="title-color">
            Create new user
          </h5>
        </div>
        <div class="float-right">

        </div>
      </div>
      <hr>
      <div class="">
        <div class="text-center">
          <ul class="list-group mb-3 shadow-sm" style="height: 100%">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">

              <mat-form-field style="width: 50%">
                <input matInput placeholder="Password" [(ngModel)]="password" name="password"
                  [type]="isPassHide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="isPassHide = !isPassHide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="isPassHide">
                  <mat-icon>{{isPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">

              <mat-form-field style="width: 50%">
                <input matInput placeholder="Password" [(ngModel)]="confirmpassword" name="password"
                  [type]="isConPassHide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="isConPassHide = !isConPassHide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isConPassHide">
                  <mat-icon>{{isConPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="name" name="name" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Phone" [(ngModel)]="phone" name="phone" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Address" [(ngModel)]="address" name="address" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field color="primary">
                <mat-label>Select Gender</mat-label>
                <mat-select [(value)]="gender" id="Selecttype1">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Famale">Famale</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Position" [(ngModel)]="position" name="position" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="row">
                <div>
                  <img class="rounded" [src]="image" height="200" width="200">
                </div>
                <div class="w-100"></div>
                <div class="custom-file" style="margin-top: 5px">
                  <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                    (change)="ImageToBase64($event)">
                  <label class="custom-file-label" for="fileImage">Choose file</label>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field color="primary">
                <mat-label>Select Role</mat-label>
                <mat-select [(value)]="role" id="Selecttype2">
                  <mat-option value="User">User</mat-option>
                  <mat-option value="Volunteer">Volunteer</mat-option>
                  <mat-option value="Admin">Admin</mat-option>
                </mat-select>
              </mat-form-field>
            </li>
          </ul>
        </div>
        <div class="text-center">
          <button mat-raised-button color="primary" (click)="createUser()">Create new user</button>
        </div>
      </div>
    </div>
  </div>
</div>
