<h1 mat-dialog-title>
  <i class="material-icons">
    bookmark
  </i>
  Favorite Posts
</h1>
<div mat-dialog-content *ngIf="favoritepost">
  <div class="container">
    <div *ngIf="isFavoritepost;else nonefavoritepost">
      <mat-list>
        <h3 mat-subheader>Posts</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let favoritem of favoritepost">
          <i mat-list-icon class="material-icons" style="color: #F45D39">
            description
          </i>
          <h4 mat-line>
            {{favoritem.post.title}}
          </h4>
          <p mat-line>
            <strong *ngIf="favoritem.post.status === 'Wait'" style="color: #999898">
              {{favoritem.post.status}}
            </strong>
            <strong *ngIf="favoritem.post.status === 'Helping'" style="color: #f0c711">
              {{favoritem.post.status}}
            </strong>
            <strong *ngIf="favoritem.post.status === 'Finish'" style="color: #6fbd30">
              {{favoritem.post.status}}
            </strong>
          </p>
          <button mat-mini-fab style="background-color: #FFFFFF;color: #f44336"
            (click)="deleteFavooritePost(favoritem.id)">
            <i class="material-icons">
              delete
            </i>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <ng-template #nonefavoritepost>
      <div class="text-muted">
        FavoritePost is empty.
      </div>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
