<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span>
      Manage Posts
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="card-body rounded shadow">
      <h5 class="color-title" style="margin-right: 10px">Post List</h5>
      <div class="clearfix">
        <div class="float-left">
          <button mat-flat-button class="btn-createpost" style="margin-bottom: 10px;" routerLink="./new">Create
            Post</button>
        </div>
        <div class="float-right">
          <button mat-mini-fab class="md-button" style="margin-bottom: 10px;" (click)="openFavoritePost()"
            matTooltip="Favorite Posts" matTooltipPosition="right" matTooltipHideDelay="1000">
            <i class="material-icons">
              bookmark_border
            </i>
          </button>

        </div>
      </div>



      <div class="card-body rounded shadow-sm">

        <mat-tab-group (selectedTabChange)="checkTabSelect($event)">
          <mat-tab label="Posts">
            <div class="container">
              <table class="table table-hover" style="cursor: pointer" *ngIf="isHavePostData;else nonepost">
                <thead style="background-color: #F45D39;color: #FFFFFF">
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="posts">
                  <tr *ngFor="let postitem of posts;let i = index" routerLink="./{{postitem.id}}">
                    <th scope="row">{{i+1}}</th>
                    <td>{{postitem.title}}</td>
                    <td *ngIf="postitem.images;else defaultimage">
                      <img class="rounded-circle" [src]="HOST_URL + postitem.images[0].image"
                        style="height: 30px;width: 30px">
                    </td>
                    <ng-template #defaultimage>
                      <td>
                        <img class="rounded-circle" src="assets/post/post.png" style="height: 30px;width: 30px">
                      </td>
                    </ng-template>
                    <td style="color: #673ab7" *ngIf="postitem.type_post === 'Accident'">
                      {{postitem.type_post}}
                    </td>
                    <td style="color: #e69b12" *ngIf="postitem.type_post === 'Crime'">
                      {{postitem.type_post}}
                    </td>
                    <td>{{postitem.creater.name}}</td>
                    <td *ngIf="postitem.status === 'Wait'">
                      <strong style="color: #999898">{{postitem.status}}</strong>
                    </td>
                    <td *ngIf="postitem.status === 'Helping'">
                      <strong style="color: #f0c711">{{postitem.status}}</strong>
                    </td>
                    <td *ngIf="postitem.status === 'Finish'">
                      <strong style="color: #6fbd30">{{postitem.status}}</strong>
                    </td>

                  </tr>
                </tbody>
              </table>
              <ng-template #nonepost>
                <div *ngIf="!isLoadPost" class="text-muted">
                  Post is empty.
                </div>
              </ng-template>

              <div class="row" style="margin-top: 5px">
                <div class="col-5 text-center">
                  <button mat-raised-button color="primary" [disabled]="!isBackForm" (click)="backPage()">Back</button>
                </div>
                <div class="col-2 text-center" style="margin-top: 5px;">
                  {{stackPage+1}}
                </div>
                <div class="col-5 text-center">
                  <button mat-raised-button color="primary" [disabled]="!isNextForm" (click)="nextPage()">Next</button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="My Posts">
            <div class="container">
              <table class="table table-hover " style="cursor: pointer" *ngIf="isHavePostData;else nonepost">
                <thead style="background-color: #F45D39;color: #FFFFFF">
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="posts">
                  <tr *ngFor="let postitem of posts;let i = index" routerLink="./{{postitem.id}}">
                    <th scope="row">{{i+1}}</th>
                    <td>{{postitem.title}}</td>
                    <td *ngIf="postitem.images;else defaultimage">
                      <img class="rounded-circle" [src]="HOST_URL + postitem.images[0].image"
                        style="height: 30px;width: 30px">
                    </td>
                    <ng-template #defaultimage>
                      <td>
                        <img class="rounded-circle" src="assets/post/post.png" style="height: 30px;width: 30px">
                      </td>
                    </ng-template>
                    <td style="color: #673ab7" *ngIf="postitem.type_post === 'Accident'">
                      {{postitem.type_post}}
                    </td>
                    <td style="color: #e69b12" *ngIf="postitem.type_post === 'Crime'">
                      {{postitem.type_post}}
                    </td>

                    <td *ngIf="postitem.status === 'Wait'">
                      <strong style="color: #999898">{{postitem.status}}</strong>
                    </td>
                    <td *ngIf="postitem.status === 'Helping'">
                      <strong style="color: #f0c711">{{postitem.status}}</strong>
                    </td>
                    <td *ngIf="postitem.status === 'Finish'">
                      <strong style="color: #6fbd30">{{postitem.status}}</strong>
                    </td>

                  </tr>
                </tbody>
              </table>
              <ng-template #nonepost>
                <div *ngIf="!isLoadPost" class="text-muted">
                  Post is empty.
                </div>
              </ng-template>

              <div class="row" style="margin-top: 5px">
                <div class="col-5 text-center">
                  <button mat-raised-button color="primary" [disabled]="!myisBackForm"
                    (click)="myBackPage()">Back</button>
                </div>
                <div class="col-2 text-center" style="margin-top: 5px;">
                  {{mystackPage+1}}
                </div>
                <div class="col-5 text-center">
                  <button mat-raised-button color="primary" [disabled]="!myisNextForm"
                    (click)="myNextPage()">Next</button>
                </div>
              </div>

            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>

  </div>
</div>