.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
table {
  width: 100%;
}
.color-title {
  color: #F45D39;
}
.md-button {
    color: #000000de;
    background-color: #cddc39;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
.btn-createpost {
  color: #FFFFFF;
  background-color: #3990f4;
}
.card-body {
  background-color: #FFFFFF;
}

