.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
.color-title {
  color: #F45D39;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
.btn-confirm {
  color: #FFFFFF;
  background-color: #4caf50;
}
