<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span style="cursor: pointer" routerLink="../../users">
      Manage Users
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span style="cursor: pointer" routerLink="../../verifyusers">
      Verify Users
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span *ngIf="user">
      {{user.name}}
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-5">
      <div *ngIf="user" class="card-body rounded shadow">
        <h5 class="color-title">User Info</h5>
        <hr>
        <div *ngIf="user.image" class="text-center">
          <img class="d-block mx-auto mb-2 rounded" [src]="HOST_URL + user.image" style="height: 150px;width: 150px">
        </div>
        <div class="text-center">
          <ul class="list-group mb-3 shadow-sm" style="height: 100%">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Username</h6><br>
                <small class="text-muted float-left">{{user.username}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Name</h6><br>
                <small class="text-muted float-left">{{user.name}}</small>
              </div>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Email</h6><br>
                <small class="text-muted float-left">{{user.email}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Phone</h6><br>
                <small class="text-muted float-left">{{user.phone}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Address</h6><br>
                <small class="text-muted float-left">{{user.address}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Gender</h6><br>
                <small class="text-muted float-left">{{user.gender}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Position</h6><br>
                <small class="text-muted float-left">{{user.position}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0 float-left">Role</h6><br>
                <small class="text-muted float-left">{{roleDetail}}</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col">
          <div class="card-body rounded shadow">
            <h5 class="color-title">Verify Info</h5>
            <hr>
            <div class="text-center">
              <mat-form-field color="primary">
                <mat-label>Change Role</mat-label>
                <mat-select [(value)]="roleDetail" id="Selectrole">
                  <mat-option value="User">User</mat-option>
                  <mat-option value="Volunteer">Volunteer</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-flat-button class="btn-confirm " style="margin-left: 20px"
                (click)="updateUser()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="user" class="row" style="margin-top: 20px">
        <div class="col">
          <div class="card-body rounded shadow">
            <h5 class="color-title">Verify Image</h5>
            <hr>
            <div *ngIf="user.image" class="text-center">
              <img class="d-block mx-auto mb-2 rounded" [src]="HOST_URL + user.verify_image" height="200" width="200"
                data-toggle="modal" data-target="#image-verify-modal" (click)="selectImageVerify(user.verify_image)"
                style="cursor: pointer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="image-verify-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showImageVerify">
        <img [src]="HOST_URL + showImageVerify" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>
