.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
.title-color {
  color: #F45D39;
}

.user-detail {
  margin-top: 5px;
}
.user-detail:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}

.btn-user {
  background: #e7e7e77e;
  margin-bottom: 5px;
}
.text-name {
  color: #5e5e5e;
}
.text-role {
  color: #3990f4;
}
.btn-createuser {
  color: #FFFFFF;
  background-color: #3990f4;
}
.btn-verify {
  color: #FFFFFF;
  background-color: #ffc107;
  margin-right: 5px;
}

.btn-editprofile {
  color: #fd7e14;
}
.card-body {
  background-color: #FFFFFF;
}
