<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span>
      Manage Users
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-5">
      <div class="card-body rounded shadow">
        <div class="clearfix">
          <div class="float-left ">
            <h5 class="title-color">Users List</h5>
          </div>
          <div class="float-right">
            <button mat-flat-button class="btn-verify" routerLink="../../verifyusers">Verify Users</button>
            <button mat-flat-button class="btn-createuser" routerLink="./new">Create User</button>
          </div>
        </div>
        <hr>
        <mat-tab-group (selectedTabChange)="checkTabSelect($event)">
          <mat-tab label="All">
            <div *ngIf="isLoadUserList">
              <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="user;else noneuser">
              <div *ngFor="let userlist of user" (click)="getUserDetail(userlist.id)">
                <button mat-button class="btn-block btn-user border">
                  <div class="row">
                    <div class="col-3">
                      <img class="rounded" [src]="HOST_URL + userlist.image" height="50" width="50"
                        style="margin-top: 6px;">
                    </div>
                    <div class="col-7">
                      <div class="row" style="margin-top: 5px;">
                        <h6 class="text-name">
                          {{userlist.username}}
                        </h6>
                      </div>
                      <div class="row">
                        <div class="text-muted">
                          <div *ngIf="userlist.role_id === 1">
                            <h6 class="text-role">User</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 2">
                            <h6 class="text-role">Volunteer</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 3">
                            <h6 class="text-role">Admin</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <mat-icon style="margin-top: 18px;color: #f45e399a">arrow_forward_ios</mat-icon>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <ng-template #noneuser>
              <div *ngIf="!isLoadUserList" class="text-muted">
                All User is empty.
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Users">
            <div *ngIf="isLoadUserList">
              <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="user;else noneuser">
              <div *ngFor="let userlist of user" (click)="getUserDetail(userlist.id)">
                <button mat-button class="btn-block btn-user border">
                  <div class="row">
                    <div class="col-3">
                      <img class="rounded" [src]="HOST_URL + userlist.image" height="50" width="50"
                        style="margin-top: 6px;">
                    </div>
                    <div class="col-7">
                      <div class="row" style="margin-top: 5px;">
                        <h6 class="text-name">
                          {{userlist.username}}
                        </h6>
                      </div>
                      <div class="row">
                        <div class="text-muted">
                          <div *ngIf="userlist.role_id === 1">
                            <h6 class="text-role">User</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 2">
                            <h6 class="text-role">Volunteer</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 3">
                            <h6 class="text-role">Admin</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <mat-icon style="margin-top: 18px;color: #f45e399a">arrow_forward_ios</mat-icon>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <ng-template #noneuser>
              <div *ngIf="!isLoadUserList" class="text-muted">
                User is empty.
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Volunteer">
            <div *ngIf="isLoadUserList">
              <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="user;else noneuser">
              <div *ngFor="let userlist of user" (click)="getUserDetail(userlist.id)">
                <button mat-button class="btn-block btn-user border">
                  <div class="row">
                    <div class="col-3">
                      <img class="rounded" [src]="HOST_URL + userlist.image" height="50" width="50"
                        style="margin-top: 6px;">
                    </div>
                    <div class="col-7">
                      <div class="row" style="margin-top: 5px;">
                        <h6 class="text-name">
                          {{userlist.username}}
                        </h6>
                      </div>
                      <div class="row">
                        <div class="text-muted">
                          <div *ngIf="userlist.role_id === 1">
                            <h6 class="text-role">User</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 2">
                            <h6 class="text-role">Volunteer</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 3">
                            <h6 class="text-role">Admin</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <mat-icon style="margin-top: 18px;color: #f45e399a">arrow_forward_ios</mat-icon>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <ng-template #noneuser>
              <div *ngIf="!isLoadUserList" class="text-muted">
                Volunteer is empty.
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Admin">
            <div *ngIf="isLoadUserList">
              <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="user;else noneuser">
              <div *ngFor="let userlist of user" (click)="getUserDetail(userlist.id)">
                <button mat-button class="btn-block btn-user border">
                  <div class="row">
                    <div class="col-3">
                      <img class="rounded" [src]="HOST_URL + userlist.image" height="50" width="50"
                        style="margin-top: 6px;">
                    </div>
                    <div class="col-7">
                      <div class="row" style="margin-top: 5px;">
                        <h6 class="text-name">
                          {{userlist.username}}
                        </h6>
                      </div>
                      <div class="row">
                        <div class="text-muted">
                          <div *ngIf="userlist.role_id === 1">
                            <h6 class="text-role">User</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 2">
                            <h6 class="text-role">Volunteer</h6>
                          </div>
                          <div *ngIf="userlist.role_id === 3">
                            <h6 class="text-role">Admin</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <mat-icon style="margin-top: 18px;color: #f45e399a">arrow_forward_ios</mat-icon>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <ng-template #noneuser>
              <div *ngIf="!isLoadUserList" class="text-muted">
                Admin is empty.
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>


      </div>
    </div>
    <div class="col-7">
      <div class="card-body rounded shadow">
        <div class="row">
          <h5 class="title-color">Users Detail</h5>
        </div>
        <hr>
        <div *ngIf="isLoadDetail">
          <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="" *ngIf="userDetail;else noneUserDetail">
          <div>
            <img class="d-block mx-auto mb-2 rounded" [src]="HOST_URL + userDetail.image" height="200" width="200"
              data-toggle="modal" data-target="#image-profile-modal" (click)="selectImageProfile(userDetail.image)"
              style="cursor: pointer">
          </div>
          <div class="clearfix" style="margin-bottom: 5px">
            <div class="float-left">

            </div>
            <div class="float-right">
              <button mat-stroked-button class="btn-editprofile" (click)="editProfile()" style="margin-right: 5px">
                <i class="material-icons">border_color</i>Edit Profile</button>
              <button mat-stroked-button color="warn" (click)="deleteUser(userDetail.id)">
                <i class="material-icons">delete</i>Delete User</button>
            </div>
          </div>
          <div class="text-center">
            <ul class="list-group mb-3 shadow-sm" style="height: 100%">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Username</h6><br>
                  <small class="text-muted float-left">{{userDetail.username}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Name</h6><br>
                  <small class="text-muted float-left">{{userDetail.name}}</small>
                </div>

              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Email</h6><br>
                  <small class="text-muted float-left">{{userDetail.email}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Phone</h6><br>
                  <small class="text-muted float-left">{{userDetail.phone}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Address</h6><br>
                  <small class="text-muted float-left">{{userDetail.address}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Gender</h6><br>
                  <small class="text-muted float-left">{{userDetail.gender}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Position</h6><br>
                  <small class="text-muted float-left">{{userDetail.position}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Role</h6><br>
                  <small class="text-muted float-left">{{roleDetail}}</small>
                </div>
              </li>
            </ul>

            <ul class="list-group mb-3 shadow-sm" style="height: 100%">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Verify</h6><br>
                  <small class="text-muted float-left">{{userDetail.verify}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Verify Image</h6><br>
                  <div>
                    <img *ngIf="userDetail.verify_image" class="d-block mx-auto mb-2 rounded"
                      [src]="HOST_URL + userDetail.verify_image" height="200" width="200" data-toggle="modal"
                      data-target="#image-verify-modal" (click)="selectImageVerify(userDetail.verify_image)"
                      style="cursor: pointer">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ng-template #noneUserDetail>
          <div *ngIf="!isLoadDetail" class="text-muted">
            User is empty.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="image-profile-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showImage">
        <img [src]="HOST_URL + showImage" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="image-verify-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showImageVerify">
        <img [src]="HOST_URL + showImageVerify" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>
