<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>

  <div class="container">
    <div class="" *ngIf="data">
      <div>
        <img class="d-block mx-auto mb-2 rounded" [src]="data.image" height="200" width="200">
      </div>
      <div>
        <div class="custom-file">
          <input type="file" accept="image/*" class="custom-file-input" id="fileImage" (change)="ImageToBase64($event)">
          <label class="custom-file-label" for="fileImage">Choose file</label>
        </div>

      </div>
      <div class="text-center" style="margin-top: 5px">
        <ul class="list-group mb-3 shadow-sm">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]="data.name" name="name" autocomplete="off">
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="data.email" name="email" autocomplete="off">
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field>
              <input matInput placeholder="Phone" [(ngModel)]="data.phone" name="phone" autocomplete="off">
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field>
              <input matInput placeholder="Address" [(ngModel)]="data.address" name="address" autocomplete="off">
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field color="primary">
              <mat-label>Select Gender</mat-label>
              <mat-select [(value)]="data.gender" id="Selecttype1">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Famale">Famale</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field>
              <input matInput placeholder="Position" [(ngModel)]="data.position" name="position" autocomplete="off">
            </mat-form-field>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <mat-form-field color="primary">
              <mat-label>Select Role</mat-label>
              <mat-select [(value)]="data.role" id="Selecttype2">
                <mat-option value="User">User</mat-option>
                <mat-option value="Volunteer">Volunteer</mat-option>
                <mat-option value="Admin">Admin</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ul>

        <ul class="list-group mb-3 shadow-sm" style="height: 100%">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0 float-left">Verify</h6><br>
              <mat-form-field color="primary">
                <mat-label>Select Verify</mat-label>
                <mat-select [(value)]="data.verify" id="SelectVerify">
                  <mat-option value="false">No</mat-option>
                  <mat-option value="true">Yes</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0 float-left">Verify Image</h6><br>
              <div>
                <img *ngIf="data.verify_image" class="d-block mx-auto mb-2 rounded" [src]="data.verify_image"
                  height="200" width="200">
              </div>
              <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="verifyImage"
                  (change)="ImageToBase64Verify($event)">
                <label class="custom-file-label" for="verifyImage">Choose Verify Image</label>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()" style="margin-right: 10px">Cancel</button>
  <button mat-flat-button (click)="saveProfile()" cdkFocusInitial style="color: #FFFFFF;background-color: #4caf50">Save
    Change</button>
</div>
