.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
.title-color {
  color: #F45D39;
}
.title-design {
  /* height: 50px; */
  width: 100%;
  color: #FFFFFF;
  background-color: #F45D39;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
.btn-create {
  color: #FFFFFF;
  background-color: #4caf50;
}
.card-body-color {
  background-color: #FFFFFF;
}
.incognito-design {
  border-color: #F45D39;

}
