<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span style="cursor: pointer" routerLink="../../posts">
      Manage Posts
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>
      Create New Post
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="card-body rounded shadow card-body-color">
      <div class="clearfix">
        <div class="float-left">
          <h5 class="title-color">
            Create new post
          </h5>
        </div>
        <div class="float-right">

        </div>
      </div>
      <hr>
      <div class="">
        <div class="">
          <div class="card-body rounded shadow title-design">
            <h5>
              <mat-icon> insert_drive_file</mat-icon>Post
            </h5>
          </div>
          <ul class="list-group mb-3 shadow-sm" style="height: 100%">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Title" [(ngModel)]="titlePost" name="titlepost" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <textarea matInput placeholder="Description" [(ngModel)]="descriptionPost" name="descriptionpost"
                  autocomplete="off"></textarea>
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field color="primary">
                <mat-label>Select Type</mat-label>
                <mat-select [(value)]="typePost" id="Selecttype1">
                  <mat-option value="Accident">Accident</mat-option>
                  <mat-option value="Crime">Crime</mat-option>
                </mat-select>
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field color="primary">
                <mat-label>Select Status</mat-label>
                <mat-select [(value)]="statusPost" id="Selecttype2">
                  <mat-option value="Wait">Wait</mat-option>
                  <mat-option value="Helping">Helping</mat-option>
                  <mat-option value="Finish">Finish</mat-option>
                </mat-select>
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Nature" [(ngModel)]="naturePost" name="nature" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="">
                <h5>Images</h5>
                <div *ngIf="imagePost.length">
                  <div *ngFor="let img of imagePost;let i = index">
                    <img class="rounded" [src]="img.image" height="200" width="200">
                  </div>
                </div>

                <div class="w-100"></div>
                <div class="custom-file" style="margin-top: 5px">
                  <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                    (change)="ImageToBase64($event)" multiple>
                  <label class="custom-file-label" for="fileImage">Choose file</label>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-body rounded shadow title-design">
            <h5>
              <mat-icon> location_on</mat-icon>Location
            </h5>
          </div>
          <ul class="list-group mb-3 shadow-sm" style="height: 100%">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Title" [(ngModel)]="titleLocation" name="titlelocation" autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Latitude" [(ngModel)]="latitudeLocation" name="latitudelocation"
                  autocomplete="off">
              </mat-form-field>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <mat-form-field>
                <input matInput placeholder="Longitude" [(ngModel)]="longitudeLocation" name="longitudelocation"
                  autocomplete="off">
              </mat-form-field>
            </li>
          </ul>

          <ul class="list-group mb-3 shadow-sm" style="height: 100%">
            <li class="list-group-item d-flex justify-content-between lh-condensed incognito-design">
              <mat-checkbox color="primary" [(ngModel)]="identifyPost">Identify
              </mat-checkbox>
            </li>
          </ul>

          <div class="text-center">
            <button mat-flat-button class="btn-create" (click)="createPost()">Create new post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
