<mat-toolbar class="toolbar-color" style="margin-top: 40px">
  <mat-toolbar-row class="text-center">
    <div class="col-lg-12">
      <small>Current Update: edit bug post,user</small>
    </div>
  </mat-toolbar-row>
</mat-toolbar>