.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
.title-design {
  height: 50px;
  width: 100%;
  color: #FFFFFF;
  background-color: #fd7e14;
}
.card-body-design {
  background-color: #efefef7a;
}
.detail-design {
  color: #fd7e14;
}
.card-body {
  background-color: #FFFFFF;
}
.border-image-size {
  border: 3px solid #673ab73d;
}
.example-full-width {
  width: 100%;
}
hr.dotline {
  border-top: 1px dashed #0000001a;
}
hr.line {
  display: block;
  height: 1px;
  border-top: 1px solid #673ab7;
}
.example-card {
  max-width: 400px;
  margin-right: 20px;
  transition: transform .2s;
}
.example-card:hover {
  transform: scale(1.1);
}
.md-button {
    color: #FFFFFF;
    background-color: #d22876d9;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
.btn-editpost {
  color: #fd7e14;
}
.btn-comment {
  color: #FFFFFF;
  background-color: #4caf50;
}
.comment-design {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.btn-help {
  color: #FFFFFF;
  background-color: #f3540b;
}
.page-design {
  padding-left: 30px;
  padding-right: 30px
}
.card-body-color {
  background-color: #FFFFFF;
}



