<div *ngIf="isLoadPostDetail" style="margin-top: 30px">
  <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="post">
  <mat-toolbar class="toolbar-color">
    <mat-toolbar-row class="margin-nav">
      <span style="cursor: pointer" routerLink="../../../../posts">
        Manage Posts
      </span>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span>
        {{post.title}}
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container page-design border-right border-left card-body-color">
    <div class="" style="margin-top: 30px;padding-top: 30px;">

      <img *ngIf="post.images" class="d-block mx-auto mb-2 rounded-circle border "
        [src]="HOST_URL + post.images[0].image" style="height: 200px;width: 200px">
      <div class="clearfix" style="margin-bottom: 10px">
        <div class="float-left">

        </div>
        <div class="float-right">
          <button mat-mini-fab class="md-button" style="margin-right: 20px" matTooltip="Add Favorite Posts"
            matTooltipPosition="above" matTooltipHideDelay="1000" (click)="addFavoritePost()">
            <i class="material-icons">
              bookmark_border
            </i>
          </button>
          <button mat-stroked-button class="btn-editpost" (click)="editPost()" style="margin-right: 5px">
            <i class="material-icons">border_color</i>Edit Post
          </button>
          <button mat-stroked-button color="warn" (click)="deletePost()">
            <i class="material-icons">delete</i>Delete Post</button>
        </div>
      </div>
      <div class="row">
        <div class="rounded text-center shadow-sm title-design" style="height: 50px;width: 100%">
          <h5 style="margin-top: 10px;">{{post.title}}</h5>
        </div>
        <div class="card-body card-body-design shadow-sm rounded" style="margin-top: 10px">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <h5 class="text-muted">
                  <mat-icon> insert_drive_file</mat-icon>Post Detail
                </h5>
              </div>
              <hr>
              <div class="row">
                <div class="col-2 detail-design">
                  Description
                </div>
                <div class="col-10">
                  {{post.description}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Category
                </div>
                <div class="col-10">
                  {{post.type_post}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Status
                </div>
                <div class="col-10">
                  {{post.status}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Nature
                </div>
                <div class="col-10">
                  {{post.nature}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Name
                </div>
                <div class="col-10">
                  {{post.creater.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-3 detail-design">
                  Create date
                </div>
                <div class="col-9">
                  {{post.created_at | date: 'medium'}}
                </div>
              </div>
              <div class="row">
                <div class="col-3 detail-design">
                  Update date
                </div>
                <div class="col-9">
                  {{post.updated_at | date: 'medium'}}
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <h5 class="text-muted">
                  <mat-icon> location_on</mat-icon>Location
                </h5>
              </div>
              <hr>
              <div class="row">
                <div class="col-2 detail-design">
                  Title
                </div>
                <div class="col-10">
                  {{post.location.title}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Latitude
                </div>
                <div class="col-10">
                  {{post.location.latitude}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 detail-design">
                  Longitude
                </div>
                <div class="col-10">
                  {{post.location.longitude}}
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 20px">
            <div class="col-12">
              <div class="row">
                <h5 class="text-muted">
                  <i class="material-icons">
                    image
                  </i>Images</h5>
              </div>
              <hr>
              <div class="row">
                <div class="album form-inline">
                  <mat-card class="example-card border" *ngFor="let image of post.images;let i = index">
                    <img mat-card-image [src]="HOST_URL + image.image" data-toggle="modal"
                      data-target="#image-profile-modal" (click)="selectImageProfile(image.image)"
                      style=" height: 200px; width: 200px; display: block;cursor: pointer">
                    <mat-card-content>
                      <hr>
                      <div class="clearfix">
                        <div class="float-right detail-design">
                          {{i+1}}
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- <div class="album form-inline">
                  <div class="col-md-4" *ngFor="let image of post.images;let i = index">
                    <div class="card box-shadow" style="margin-right: 40px">
                      <img class="card-img-top" style="height: 200px; width: 200px; display: block"
                        [src]="HOST_URL + image.image">
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 20px">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <h5 class="text-muted">In to help</h5>
                </div>
                <div class="col-6">
                  <div class="clearfix">
                    <div class="float-right">
                      <button mat-flat-button class="btn-help" (click)="createtohelp()">
                        <i class="material-icons">person_add</i> In To Help (Volunteer Only)</button>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="tohelpHaveData;else nonehelp">
                <table class="table table-hover">
                  <thead style="background-color: #8b8b8b;color: #FFFFFF">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Image</th>
                      <th scope="col">Role</th>
                      <th scope="col">Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tohelp;let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{item.name}}</td>

                      <td>
                        <img class="rounded-circle" [src]="HOST_URL + item.image" style="height: 30px;width: 30px">
                      </td>
                      <td>
                        <div *ngIf="item.role_id === 1">
                          <h6 class="text-role">User</h6>
                        </div>
                        <div *ngIf="item.role_id === 2">
                          <h6 class="text-role">Volunteer</h6>
                        </div>
                        <div *ngIf="item.role_id === 3">
                          <h6 class="text-role">Admin</h6>
                        </div>
                      </td>
                      <td>
                        <button mat-stroked-button color="warn" (click)="deletetohelp(item.id)">
                          <i class="material-icons">delete</i>Cancel</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #nonehelp>
                <div class="text-center text-muted">
                  Volunteer is empty.
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row" style="margin-top: 20px">
            <div class="col-12">
              <div class="row">
                <h5 class="text-muted">Create post by</h5>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <div class="text-center" *ngIf="post.identify;else noneidentify">
                    <img class="rounded border" [src]="HOST_URL + post.creater.image"
                      style="height: 100px;;width: 100px">
                  </div>
                  <ng-template #noneidentify>
                    <div class="text-center">
                      <img class="rounded border" src="/assets/post/spy.png" style="height: 100px;;width: 100px">
                    </div>
                    <!-- 123 -->
                    <div class="text-center text-muted">
                      Incognito
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="text-center">
                    <h6 class="text-muted">{{post.creater.name}}</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="text-center">
                    <div *ngIf="post.creater.role_id === 1">
                      <h6 class="text-muted">User</h6>
                    </div>
                    <div *ngIf="post.creater.role_id === 2">
                      <h6 class="text-muted">Volunteer</h6>
                    </div>
                    <div *ngIf="post.creater.role_id === 3">
                      <h6 class="text-muted">Admin</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="rounded text-center shadow-sm title-design" style="height: 50px;width: 100%;margin-top: 10px">
        <h5 style="margin-top: 10px;">
          Map
        </h5>
      </div>
      <div class="card-body card-body-design shadow-sm rounded" style="margin-top: 10px">

      </div> -->
      <div class="row">
        <div class="rounded text-center shadow-sm title-design" style="height: 50px;width: 100%;margin-top: 10px">
          <h5 style="margin-top: 10px;">
            <mat-icon> comment</mat-icon> Comments
          </h5>
        </div>
        <div class="row" style="margin-bottom: 40px">

        </div>
        <div class="col">
          <div class="card-body card-body-design shadow border rounded" style="margin-top: 10px">
            <form action="">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Comment here..." style="height: 100px" [(ngModel)]="commentValue"
                  name="comment"></textarea>
                <mat-hint>
                  <strong>Comment a event</strong>
                </mat-hint>
              </mat-form-field>
              <div class="form-check-inline" *ngIf="imageShow">
                <img type="image" class="img rounded" [src]="imageShow" style="width: 150px; ;height: 150px">
              </div>
              <div class="clearfix">
                <div class="float-left">
                  <button class="btn btn-default" type="button">
                    <label for="fileToUpload">
                      <mat-icon>add_photo_alternate</mat-icon>
                    </label>
                  </button>
                  <input id="fileToUpload" type="file" accept="image/*" style="display:none;"
                    (change)="ImageToBase64($event)">
                </div>
                <div class="float-right">
                  <button type="button" mat-flat-button class="btn-comment" [disabled]="!commentValue"
                    (click)="comment()" [disabled]="isSubmitClicked">
                    <div *ngIf="isSubmitClicked" class="spinner-border spinner-border-sm text-light" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Comment
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="card-body card-body-design shadow-sm rounded" style="margin-top: 10px">
            <p class="text-muted">Comments</p>
            <div *ngIf="post.comments;else nonecomment">
              <hr>
              <div class="comment-design border media text-muted pt-3" *ngFor="let comment of post.comments">
                <img class="bd-placeholder-img mr-2 rounded" width="35" height="35"
                  [src]="HOST_URL + comment.image_user">

                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="clearfix">
                    <div class="float-left">
                      <strong class="d-block text-gray-dark">
                        <h5 style="color: #fd7e14"><strong>{{comment.name}}</strong></h5>
                      </strong>
                    </div>
                    <div class="float-right">
                      <button mat-stroked-button color="warn" (click)="deleteComment(comment.id)">
                        <i class="material-icons">delete</i>Delete</button>
                    </div>
                  </div>

                  <span class="d-bloock">
                    <h6>{{comment.description}}</h6>
                  </span>
                  <br>
                  <img *ngIf="comment.image.length" class="border-image-size rounded" [src]="HOST_URL + comment.image"
                    width="150" height="150">
                  <hr class="dotline">
                  <span class="d-bloock">post date: {{comment.created_at | date: 'medium'}}</span>
                </div>
              </div>
              <!-- <hr> -->
            </div>
            <ng-template #nonecomment>
              <div class="text-muted">
                Comment is empty.
              </div>
            </ng-template>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="image-profile-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showImage">
        <img [src]="HOST_URL + showImage" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>