<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>
  <div class="container">
    <div *ngIf="data">
      <div>
        <div class="custom-file">
          <input type="file" accept="image/*" class="custom-file-input" id="fileImage" (change)="ImageToBase64($event)"
            multiple>
          <label class="custom-file-label" for="fileImage">Choose file</label>
        </div>
        <div class="border" *ngFor="let img of data.image;let i = index">
          <img class="d-block mx-auto mb-2 rounded" [src]="img.image" height="150" width="150">
        </div>
      </div>

      <div class="text-center" style="margin-top: 5px">
      </div>
      <ul class="list-group mb-3 shadow-sm">
        <h5 style="color: #fd7e14">Post</h5>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Title" [(ngModel)]="data.title" name="title" autocomplete="off">
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="data.description" name="description"
              autocomplete="off">
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field color="primary">
            <mat-label>Select Type</mat-label>
            <mat-select [(value)]="data.type_post" id="Selecttype1">
              <mat-option value="Accident">Accident</mat-option>
              <mat-option value="Crime">Crime</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field color="primary">
            <mat-label>Select Status</mat-label>
            <mat-select [(value)]="data.status" id="Selecttype2">
              <mat-option value="Wait">Wait</mat-option>
              <mat-option value="Helping">Helping</mat-option>
              <mat-option value="Finish">Finish</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Nature" [(ngModel)]="data.nature" name="nature" autocomplete="off">
          </mat-form-field>
        </li>
        <h5 style="color: #fd7e14">Location</h5>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Title" [(ngModel)]="data.titleLocation" name="titleLocation"
              autocomplete="off">
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Latitude" [(ngModel)]="data.latitude" name="latitude" autocomplete="off">
          </mat-form-field>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <mat-form-field>
            <input matInput placeholder="Longitude" [(ngModel)]="data.longitude" name="longitude" autocomplete="off">
          </mat-form-field>
        </li>
      </ul>
      <div mat-dialog-actions>
        <button mat-stroked-button (click)="onNoClick()" style="margin-right: 10px">Cancel</button>
        <button mat-flat-button (click)="updatePost()" cdkFocusInitial
          style="color: #FFFFFF;background-color: #4caf50">Save Change</button>
      </div>
    </div>
  </div>
</div>
