<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span style="cursor: pointer" routerLink="../../users">
      Manage Users
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>
      Verify Users
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="card-body rounded shadow">
      <h5 class="color-title" style="margin-right: 10px">Verify Users List</h5>
      <div *ngIf="isLoadUser">
        <div class="spinner-border text-secondary d-block mx-auto mb-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="card-body rounded shadow-sm">
        <table class="table table-hover " style="cursor: pointer" *ngIf="isHaveUserData;else noneuser">
          <thead style="background-color: #F45D39;color: #FFFFFF">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tr *ngFor="let useritem of user" routerLink="./{{useritem.id}}">
            <th scope="row">{{useritem.id}}</th>
            <td>{{useritem.name}}</td>
            <td *ngIf="useritem.image">
              <img class="rounded-circle" [src]="HOST_URL + useritem.image" style="height: 30px;width: 30px">
            </td>
        </table>
        <ng-template #noneuser>
          <div *ngIf="!isLoadUser" class="text-muted">
            Verify users is empty.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
