.margin-nav {
   margin-top: 10px;
   margin-bottom: 10px;
}
table {
  width: 100%;
}
.color-title {
  color: #F45D39;
}
.toolbar-color {
  color: #FFFFFF;
  background-color: #F45D39;
}
.card-body {
  background-color: #FFFFFF;
}
