<mat-toolbar class="toolbar-color">
  <mat-toolbar-row class="margin-nav">
    <span>
      Manage Tutorial
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="newTitle" name="title" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" style="height: 100px" [(ngModel)]="newDescription" name="description"
      autocomplete="off"></textarea>
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="createTutorial()">Create Tutorial</button>

  <br><br>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="keyword" name="keyword" autocomplete="off">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getTutorial()">Search</button>
  <br><br>
  <div class="row" style="margin-top: 30px">
    <div class="card-body rounded shadow">
      <table class="table table-hover" style="cursor: pointer">
        <thead style="background-color: #F45D39;color: #FFFFFF">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody *ngIf="tutorial">
          <tr *ngFor="let item of tutorial;let i = index" routerLink="./{{item.id}}">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
              <button mat-raised-button color="warm" (click)="deleteTutorial(item.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>