@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100% !important;
  margin: 0;
  font-family: 'Quicksand', sans-serif;

}
body {
  background-color: #79554817;
}

img{
  object-fit: cover;
}
button.mat-button, button.mat-stroked-button {
  font-family: 'Quicksand', sans-serif;
}
button:focus {
  outline: 0;
}
