.left-nav {
   flex: 1 1 auto;
}
.margin-nav {
   margin-right: 10px;
}
.navbar {
-webkit-box-shadow: 0px 3px 3px 0px #d16923;
-moz-box-shadow: 0px 3px 3px 0px #d16923;
box-shadow: 0px 3px 3px 0px #d16923;
}
button.active {
  background-color: #ffffff;
  color: #F45D39;
}
.image-nav {
  height: 30px;
  width: 30px;
}
.text-name {
  color: #E7EBEE;
  cursor: pointer;
}
.text-name:hover {
  color: #c9cccf;
}
.toolbar-color {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  background-color: #F45D39;
}
