<mat-toolbar class="toolbar-color navbar fixed-top">
  <span routerLink="/main" style="cursor: pointer;outline: 0; margin-right: 20px;">
    <img src="rac-ico.png" width="35" height="35" style="margin-bottom: 5px;">
    RAC
  </span>
  <span class="left-nav" style="margin-bottom: 2px;">
    <button mat-button class="margin-nav" routerLink="/main" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon style="margin-bottom: 2px;">home</mat-icon> Home
    </button>

    <button mat-button class="margin-nav" [matMenuTriggerFor]="menu" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">person</i>User
      <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true"
        style="margin-bottom: 2px;">
        arrow_drop_down
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="./users" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">Manage user</button>
      <button mat-menu-item routerLink="./verifyusers" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">Verify user</button>
    </mat-menu>

    <button mat-button class="margin-nav" routerLink="./posts" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon style="margin-bottom: 2px;"> insert_drive_file</mat-icon>Post
    </button>
  </span>

  <button mat-button>{{user.user_info.name}}</button>
  <div *ngIf="user.user_info">
    <img *ngIf="user.user_info.image" class="image-nav rounded" [src]="HOST_URL+user.user_info.image"
      style="margin-right: 10px">
  </div>


  <button mat-stroked-button (click)="logout()">Logout</button>
</mat-toolbar>