.bg {
  padding-top: 100px;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #79554817;
  height: 100%;
  width: 100vw;
}
.card-body {
  width: 50%;
  height: auto;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;

  background: #ffffff59;
  border-radius: 10px;
  box-shadow: 0 1px 5px #00000040;
}
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1);
}
.btu-signin {
  color: #F45D39;
}

.title-design {
  color: #F45D39;
}
