<div class="bg">
  <div class="container">
    <div class="card-body shadow-sm rounded">
      <div class="text-center">
        <div class="form-group text-center">
          <div class="zoom">
            <img alt="Web Studio" class="img-fluid rounded mx-auto d-block" src="/assets/logo/logo.png"
              style="width: 50%; height: 50%" />
          </div>
          <h5 class="title-design">
            <strong>
              RAC
            </strong>
          </h5>
          <h5 class="title-design">
            <strong>
              Report Accident & Crime
            </strong>
          </h5>
        </div>

        <form>
          <div class="form-group text-center">
            <mat-form-field style="width: 50%">
              <input matInput placeholder="Username" [(ngModel)]="login.username" autocomplete="off" name="username">
            </mat-form-field>
          </div>
          <div class="form-group text-center">
            <mat-form-field style="width: 50%">
              <input matInput placeholder="Password" (keyup.enter)="signin()" [(ngModel)]="login.password"
                name="password" [type]="isPassHide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="isPassHide = !isPassHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPassHide">
                <mat-icon>{{isPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-group text-center" *ngIf="isLoading">
            <div class="spinner-border text-secondary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div class="form-group text-center">
            <button mat-stroked-button class="btu-signin" type="submit" (click)="signin()">
              <h6 style=" padding-top: 6px">Login</h6>
            </button>
          </div>
        </form>

        <form>
          <!-- <button type="button" class="btn btn-primary" (click)="submitLogin()">Login with facebook</button> -->
          <!-- <button type="button" class="btn btn-light" (click)="checkLoginState()">Check state facebook</button>
          <button type="button" class="btn btn-success" (click)="checkUser()">Check user</button>
          <button type="button" class="btn btn-warning" (click)="LogoutFB()">Logout facebook</button> -->
        </form>
      </div>
    </div>
  </div>
</div>